.user-page {
  display: flex;
  align-items: center;
  justify-content: center;
}

.user-page form h1 {
  margin-top: 20px;
  margin-bottom: 20px;
}

.user-page form {
  width: 100%;
  max-width: 1000px;
  margin-bottom: 20px;
  border: 0;
}

.user-page .box-button {
  margin-top: 20px;
  margin-bottom: 20px;
  display: flex;
  justify-content: flex-end;
}
